<link rel="stylesheet" href="assets/css/loginpage.css">
<script src="assets/js/loginpage.js"></script>
<div class="cotn_principal">
  
<ul>
  <% if(messages.error) { %>
    <div class="error-msg">
      <i class="fa fa-times-circle">
  <li><%= messages.error %></li>
</i>
  <% } %>
</ul>
<ul>
  <% if(messages.success_msg) { %>
    <div class="success-msg">
      <i class="fa fa-check">
  <li><%= messages.success_msg %></li>
     </i>
  <% } %>
</div>
</ul>

    <div class="cont_centrar"> 
      <div class="cont_login">
    <div class="cont_info_log_sign_up">
          <div class="col_md_login">
    <div class="cont_ba_opcitiy">
            <h2 style= "color:black">LOGIN</h2>  
      <p style= "color:black"><i>Welcome back..</i></p> 
      <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
      </div>
      </div>
    <div class="col_md_sign_up">
    <div class="cont_ba_opcitiy">
      <h2 style= "color:black">SIGN UP</h2>
      <p style= "color:black" ><i>First step to having a great web experience, we promise you wont regret.</i></p>
    
      <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
    </div>
      </div>
           </div>
    
        
        <div class="cont_back_info">
           <div class="cont_img_back_grey">
           <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
           </div>
           
        </div>
    <div class="cont_forms" >
        <div class="cont_img_back_">
           <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
           </div>

      <form action="/login" method="POST">
     <div class="cont_form_login">
    <a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
       <h2>LOGIN</h2>
     <input type="email"  id="email" name="email" placeholder="Email" required/>
    <input type="password"  id="password" name="password"placeholder="Password" />
    <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
     </form>
      </div>
      
      <form action="/signup" method="POST">
       <div class="cont_form_sign_up">
    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
    
         <h2>SIGN UP</h2>
    <input type="text" id="name" name="name"placeholder="Fullname" required />
    <input type="email" id="email" name="email" placeholder="Email" required/>
    <input type="text" id="role" name="role" value="Student" placeholder="Role" required readonly hidden/>
    <input type="password" id="password" name="password"placeholder="Password" required/>
    <input type="password"id="password2" name="password2" placeholder="Confirm Password" required/>
    <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
  </form>
      </div>
    
        </div>
        
      </div>
     </div>
    </div>