<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.css">
    <link rel="stylesheet" href="/projects.css">
    <script src="/send_url.js"></script>
    <style> 
    body {
        
        background-image: url('https://thumbs.dreamstime.com/b/projects-4501503.jpg')
         
    }
        textarea {
          width: 100%;
          height: 350px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          background-color: black;
          opacity: 40px;
          font-size: 30px;
          resize: none;
        }
        .textarea2 textarea {
          width: 50%;
          height: 150px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          background-color: black;
          font-size: 20px;
          resize: none;
        }
        </style>
  </head>
  <body>
    <div class="container">
      <div class="container-header">
        <h1>Add new project</h1>
      </div>
      <div class="item-form-wrapper">
    
        <form action="/users/newproject" method="post">

            <input type="text" name="userId" id="'userId" value ='<%=userId%>' hidden >
            <input type="text" name="department" id="'department" placeholder ='Department' style="width:50%" style="font-size: 20px;">
            <input type="text" name="level" id="'level" placeholder ='Level' style="width:50%" style="font-size: 20px;">
            <input type="text" name="title" id="'title" placeholder ='Project Title' style="width:50%" style="font-size: 20px;">
            <textarea  name = "content" placeholder ='Project content'></textarea>
        <div  class="textarea2">
            <textarea name = "summary" placeholder ='Project Summary'></textarea>
        </div>
            <input type="submit" value="Create Project">
          </form>
      </div>
      <a href="/users/dashboard" class="cancel-button">Go back to dashboard</a>
    </div>
  </body>
</html>